@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.battle-arena {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('/battle-bg-grass.png');
    background-size: cover;
    background-position: bottom;
}

.cpu-pokemon {
    position: absolute;
    bottom: 30vh;
    right: 30vh;
}

.player-pokemon {
    position: absolute;
    bottom: 1vh;
    left: 30vh;
}

.player-pokemon img{
    transform: scaleX(-1);
}

.pokemonimg{
    height:30vh;
}
.pokemoninfo{
    background:#F8F8D8;
    border: 5px solid #506860;
    outline: 5px solid #203800;
    padding: 5px;
}
.cpu-pokemon .pokemoninfo{
    position:fixed;
    right: 80vh;
    top: 10vh;
}
.player-pokemon .pokemoninfo{
    position:absolute;
    top: -15vh;
}

.cpu-pokemon h1,
.player-pokemon h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    color: #404040;
}

.move-announcement {
    background-color: white;
    border: 4px solid black;
    padding: 16px 20px;
    margin: 10px 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;
    line-height: 1.8;
}

.pokemonname{
    margin: 0px;
    white-space: nowrap;
}

.health-bar-bg {
    width: 150px;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    overflow: hidden;
}

.health-bar {
    height: 100%;
    background-color: #70F8A8;
    transition: width 0.3s ease;
    
}

.hptext {
    display:inline-block;
    color: #404040;
    float:right;
}

@keyframes attack {
    0% {transform: translateX(0);}
    50% {transform: translateX(30px);}
    100% {transform: translateX(0);}
}

@keyframes hit {
    0%, 100% {transform: translateX(0);}
    25% {transform: translate(-10px);}
    75% {transform: translate(10px);}
}

@keyframes switch {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translate(0);}
}

.attack {animation: attack 0.5s ease;}
.hit {animation: hit 0.4s ease;}
.switch {animation: switch 0.5s ease;}

.damage-popup {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 2rem;
    animation: float-up 1s ease forwards;
    pointer-events: none;
}

@keyframes float-up {
    0% {opacity: 1; transform: translateY(0);}
    100% {opacity: 0; transform: translateY(-40px);}
}

#moves{
    margin-top:16px;
    display:grid;
    width:100%;
    gap:5px;
    grid-template-columns:repeat(2, minmax(0, 0.35fr));;
    justify-content:center;
}

#moves button{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    padding:5px;
    width:100%;
}