fieldset{
    display:flex;
    gap:16px;
    flex-wrap:wrap;
}

.searchbar{
    font-size:1rem;
}
button{margin:auto;}

.favecontainer{
    position: absolute;
    width:80%;
    left:10%;
    top:10%;
    background-color: black;
    margin:auto;
}

.closefave{
    position: relative;
}

#selectteam{
    height:100vh;
    display:flex;
    flex-direction: column;
}

ul{
    overflow-y:scroll;
    width:50%;
}

section{display:flex;}
#infopanel{
    width:50%;
}

li::marker{
    content:none;
}

