:root{
    
    height: 100vh;
    color: white;
    image-rendering: pixelated;
}

#selectteam{
    height:100vh;
    display:flex;
    flex-direction: column;
    background: black;
    background: linear-gradient(
    to bottom, 
    #48A8A0 50%, 
    #388888 50%
  );
  background-size: 100% 4px;
}

#header{
  font-family: "Press Start 2P", system-ui;
  background-color: #206860;
}
#header h2{
    display: inline-block;
    line-height:120%;
  margin: 15px;
}

/* team container */
.teamcontainer{
    display:inline-flex;
    font-family: sans-serif;
}
.teamcontainer .teammember{
    border: 4px solid #484860;
    width: 100px;
}
.teamcontainer img{
    height: 50px;
    /*background-image: url('./pokeball bg.png');
    background-position-x: center;
    background-size: 50px;
    background-repeat: no-repeat;*/
}
.teamcontainer .iconcontainer{
    
}

/* start button */
#header button{
    font: inherit;
    float:right;
    height: 100%;
    margin: 3px;
    font-size: 24px;
    background: #3890D8;
    text-shadow: 3px 3px 0px #737373;
    border: 8px solid;
    border-image: url('./team menu frame 1.png');
    border-image-slice: 3;
    color: #F8F8F8;
    border-radius: 10px;
}
#header button:hover{
    border: 8px solid;
    border-image: url('./start button hover.png');
    border-image-slice: 3;
    background-color: #78D0E8;
}

button a{
    text-decoration: none;
    color: white;
}

/* type filters */
.typefilters{
    display:flex;
    gap:0px;
    flex-wrap:wrap;
    padding: 8px;
    justify-content: center;
}

.typefilters span{
    background-image: url("/rubysapphire type icons.png");
    width:64px;
    height: 28px;
    background-size:256px;
    display:inline-block;
    color: transparent;
    cursor: pointer;
}

.typefilters input[type="checkbox"]{
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 2px;
}
.typefilters input:checked::before{

}
.typefilters div{
    /*flex: 1;*/
    min-width: 120px;
}
.typefilters label{
    
}

.searchbar{
    font-size:1rem;
}
button{margin:auto;}

/* pokemon list */
.pokemonlist{
    overflow-y:scroll;
    padding: 4px;
}
.pokemonlist li{
    border: 3px solid #484860;
}
.pokemonlist li:hover{
    border: 3px solid #F87030;
}

/* favorites */
.favecontainer{
    position: absolute;
    width:80%;
    left:10%;
    top:10%;
    background-color: black;
    margin:auto;
}

.closefave{
    position: relative;
}



ul{
    /*overflow-y:scroll;
    width:50%;*/
    padding: 0px;
    margin: 0px;
}

#main{
    display:flex;
    overflow: hidden;
    gap: 4px;
    padding: 0px 4px 4px 4px;
}

#main >div{
    flex:1;
    /*border: 3px solid;
    border-color: #40C8F8 #006090 #006090 #40C8F8;*/
    border: 9px solid;
    border-image: url('/team menu frame 1.png');
    border-image-slice: 3;
}


/* scrollbar */
#main > div::-webkit-scrollbar {
  width: 16px;
  position:relative;
  right:-3px;
}
#main > div::-webkit-scrollbar-thumb{
  background-color: #F8F8F8;
  /*border: 10px solid;
  border-image: url('/scrollbar thumb.png');
  border-image-slice: 2 2 3 2;*/
  border: 3px solid #2878B0;
  border-right-width: 0px;
  box-sizing: content-box;
  background-size: contain;
  image-rendering: pixelated;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
#main > div::-webkit-scrollbar-track {
  background: #2878B0;
}



#infopanel{
    width:50%;
}

li::marker{
    content:none;
}
li{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
li span{
    vertical-align:middle;
}
li .pokemonname{
    display: inline-block;
}
li .buttons{
    display: inline-block;
}
li img{
    height: 50px;
}


/* purple buttons */
#buttons button{
    border: 8px solid;
    border-image: url('./purple button.png');
    border-image-slice: 5 fill;
    line-height: 8px;
    background: none;
    padding: 0px 4px;
    position: relative;
}

#buttons button.fave{
    padding: 0px 20px 0px 4px;
}

#buttons button.fave::after{
    padding: 0px 4px;
    content: url('star.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: -4px;
}